
<div id="fixed">
  <ul>
    <li class="li_good">
      <button class="iconfont icon-dianzan2" id="good_btn"></button>
      <span class="good_num">0</span>
    </li>
    <li class="li_comment">
      <button class="iconfont icon-comments" id="comment_btn"></button>
      评论
    </li>
    <li class="li_save">
      <button class="iconfont icon-shoucang2" id="save_btn"></button>
      收藏
    </li>
  </ul>
</div>
