<!-- 图片展示 -->
<div id="picChange">
    <img src="/public/images/pic/school_1.jpg" alt="">
    <img src="/public/images/pic/school_2.jpg" alt="">
    <img src="/public/images/pic/school_3.jpg" alt="">
    <img src="/public/images/pic/school_4.jpg" alt="">
</div>
